<!-- Modal -->
<div
  class="modal fade"
  id="addressModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" id="addressForm">
        {% csrf_token %}
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label
                  for="{{ account_address_form.full_name.auto_id }}"
                  class="form-label form-label-sm"
                  >{{ account_address_form.full_name.label }}</label
                >
                {{ account_address_form.full_name }}
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label
                  for="{{ account_address_form.phone.auto_id }}"
                  class="form-label form-label-sm"
                  >{{ account_address_form.phone.label }}</label
                >
                {{ account_address_form.phone }}
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label
                  for="{{ account_address_form.province_id.auto_id }}"
                  class="form-label form-label-sm"
                  >{{ account_address_form.province_id.label }}</label
                >
                {{ account_address_form.province }}
                <!--  -->
                {{ account_address_form.province_id }}
              </div>

              <div class="mb-3">
                <label
                  for="{{ account_address_form.city_id.auto_id }}"
                  class="form-label form-label-sm"
                  >{{ account_address_form.city_id.label }}</label
                >
                {{ account_address_form.city }}
                <!--  -->
                {{ account_address_form.city_id }}
              </div>

              <div class="mb-3">
                <label
                  for="{{ account_address_form.postal_code.auto_id }}"
                  class="form-label form-label-sm"
                  >{{ account_address_form.postal_code.label }}</label
                >
                {{ account_address_form.postal_code }}
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label
                  for="{{ account_address_form.street.auto_id }}"
                  class="form-label form-label-sm"
                  >{{ account_address_form.street.label }}</label
                >
                {{ account_address_form.street }}
              </div>

              <div class="mb-3">
                <label
                  for="{{ account_address_form.detail_address.auto_id }}"
                  class="form-label form-label-sm"
                  >{{ account_address_form.detail_address.label }}</label
                >
                {{ account_address_form.detail_address }}
              </div>

              <div class="mb-3 form-check form-switch">
                <label
                  for="{{ account_address_form.isMainAddress.auto_id }}"
                  class="form-check-label"
                  >{{ account_address_form.isMainAddress.label }}</label
                >
                {{ account_address_form.isMainAddress }}
              </div>
              <input type="hidden" name="redirect" id="redirect" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">
            Tutup
          </button>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
      </form>
    </div>
  </div>
</div>
