{% extends 'core/base.html' %}

<!-- Load static file  -->
{% load static %}

<!-- load format number -->
{% load l10n %}

<!-- block title -->
{% block title %} Pesanan Berhasil | {% endblock %}

<!-- block content  -->
{% block content %}
<section id="checkout">
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center my-5">
      <h5 class="my-3 text-center">Yeay! Pesanan berhasil dibuat.</h5>
      <img
        class="mb-2 mx-auto success-check"
        src="{% static 'images/check.png' %}"
        alt="cheklist"
      />
      <p class="w-50 text-center mx-auto">
        Agar pesanan segera diproses, lakukan pembayaran sesuai informasi yang tertera kemudian
        konfirmasi pembayaran.
      </p>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
      <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Informasi Pembayaran
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <h6>Transfer pembayaran kepada:</h6>
          {% for order in orders %}
          <div class="informasi-pembayaran">
            <h6># Toko {{ order.store }}</h6>
            <p>
              <strong>Nomor Rekening:</strong> {{order.store.account_number}} <br />
              <strong>Nama Rekening:</strong> {{order.store.account_name}} <br />
              <strong>Nama Bank:</strong> {{order.store.bank_name}} <br />
              <strong>Total yang harus dibayar:</strong> <h5><strong>Rp. {{order.paid_amount}}</strong></h5> 
              <hr>
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
