{% extends 'store/base.html' %}

<!-- block title -->
{% block title %} FLash Sale Toko {% endblock %} {% block style %}
<!--  -->
{% endblock %}

<!-- block username -->
{% block username %}{{store.name}}{% endblock %}

<!-- block content -->
{% block content %}
<h1 class="h3 mb-2 text-gray-800">FLash Sale Toko</h1>
<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex align-items-center">
    <h6 class="m-0 font-weight-bold text-primary">Buat Flash Sale Toko Saya</h6>
  </div>
  <div class="card-body">
    <table>
      <tr>
        <td>Tanggal Flash Sale:</td>
        <td>{{session_date}}</td>
      </tr>
      <tr>
        <td>Waktu Flash Sale:</td>
        {% if session_number == '1' %}
        <td>00.00 - 12.00</td>
        {% elif session_number == '2' %}
        <td>12.00 - 13.00</td>
        {% elif session_number == '3' %}
        <td>13.00 - 18.00</td>
        {% elif session_number == '4' %}
        <td>18.00 - 21.00</td>
        {% elif session_number == '5' %}
        <td>21.00 - 00.00</td>
        {% endif %}
      </tr>
    </table>
    <form method="post">
      {%csrf_token%}
      <input type="hidden" name="flash-date" value="{{session_date}}" />
      <input type="hidden" name="session-number" value="{{session_number}}" />
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Produk</th>
            <th scope="col">Harga Awal</th>
            <th scope="col">Diskon</th>
            <th scope="col">Harga Diskon</th>
          </tr>
        </thead>
        <tbody>
          {% if products %}
          <!-- looping products -->
          {% for product in products %}
          <tr>
            <th scope="row">
              <div class="d-flex">
                <div style="width: 4rem; height: 2rem; overflow: hidden">
                  <img
                    src="{{ product.get_thumbnail }}"
                    alt="{{ product.name }"
                    style="object-fit: cover; object-position: bottom; width: 100%"
                  />
                </div>
                <span class="pl-3">{{product.name}}</span>
                <input type="hidden" name="product-id" value="{{product.id}}" />
              </div>
            </th>
            <td>
              <input
                class="form-control"
                type="text"
                value="{{product.price}}"
                name="price"
                id="price[{{forloop.counter0}}]"
                readonly
              />
            </td>
            <td>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  id="discount[{{forloop.counter0}}]"
                  name="discount"
                  onkeyup="onChangeHandler(event, '{{forloop.counter0}}')"
                  onchange="onChangeHandler(event, '{{forloop.counter0}}')"
                  aria-describedby="basic-addon2"
                  required
                />
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">% OFF</span>
                </div>
              </div>
            </td>
            <td>
              <input
                class="form-control"
                type="text"
                name="discount-price"
                id="discount-price-{{forloop.counter0}}"
              />
            </td>
          </tr>
          {% endfor %}
          <!-- end looping -->
          <tr>
            <td colspan="4">
              <div class="float-right">
                <input
                  name="create-flash-sale"
                  class="btn btn-primary"
                  type="submit"
                  value="Konfirmasi"
                />
              </div>
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </form>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  function onChangeHandler(event, index) {
    const startPrice = document.getElementById(`price[${index}]`).value.split(',').join('');
    const discountInput = document.getElementById(`discount-price-${index}`);

    discount = (Number(event.target.value) / 100) * startPrice;
    discountPrice = Number(startPrice) - discount;

    if (discountPrice === Number(startPrice)) {
      discountInput.value = '';
    } else {
      discountInput.value = discountPrice;
    }
  }
</script>
{% endblock %}
