{% extends 'store/base.html' %}

<!-- block title -->
{% block title %} Produk {% endblock %}

<!-- block username -->
{% block username %}{{store.name}}{% endblock %}

<!-- block content -->
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Data Produk</h1>
<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex align-items-center">
    <h6 class="m-0 font-weight-bold text-primary">Tambah Produk Saya</h6>
  </div>
  <div class="card-body">
    <form action="." method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="{{ form.category.auto_id }}" class="form-label"
              >{{form.category.label}}</label
            >
            {{ form.category }}
          </div>
          <div class="mb-3">
            <label for="{{ form.name.auto_id }}" class="form-label">{{form.name.label}}</label>
            {{ form.name }}
          </div>
          <div class="mb-3">
            <label for="{{ form.description.auto_id }}" class="form-label"
              >{{form.description.label}}</label
            >
            {{ form.description }}
          </div>
          <div class="mb-3">
            <label for="{{ form.price.auto_id }}" class="form-label">{{form.price.label}}</label>
            {{ form.price }}
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="{{ form.stock.auto_id }}" class="form-label">{{form.stock.label}}</label>
            {{ form.stock }}
          </div>
          <div class="mb-3">
            <p>Gambar Sekarang:</p>
            <img src="{{ product.get_thumbnail }}" style="height: 10rem" />
          </div>
          <div class="mb-3">
            <label for="{{ form.image.auto_id }}" class="form-label">{{form.image.label}}</label>
            {{ form.image }}
          </div>
          <div class="mb-3">
            <button class="btn btn-primary">Simpan</button>
          </div>
        </div>
      </div>
    </form>

    <form action="." method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-6">
          <hr />
          <div class="mb-3">{{ image_form.image }}</div>
          <div class="mb-3">
            <button class="btn btn-primary">Tambah Gambar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
